@media (max-width:1980px) {

    footer {
        background-color: #262626;
        color: #fff;
        padding: 30px 30px 0px 30px;
    }

    .gap-1 {
        display: flex
;
        flex-direction: column;
        gap: 10px;
        padding-top: 40px;
        padding-bottom: 15px;
    }

    .a-text:hover{
        color: white;

    }

    .carreras {
        width: 420px;
    }

    .menu-toggle {
        display: none;
    }
      
      .footer-container {
        display: flex;
        flex-direction: row; /* Asegura que el logo y las columnas estén en una fila por defecto */
        justify-content: space-between;
        align-items: center; /* Centra verticalmente el contenido */
        width: 100%;
      }
      
      .footer-logo {
        margin-right: 20px; /* Espacio entre el logo y las columnas */
      }
      
      .footer-logo img {
        max-width: 200px; /* Ajusta el tamaño del logo */
        margin-bottom: 0;
      }
      
      .movil {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      
      .footer-columns {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 20px; /* Espaciado entre las columnas */
      }
      
      .footer-column {
        width: 19%; /* Ajusta el ancho de las columnas */
        margin-bottom: 20px;
      }
      
      .footer-column h3 {
        color: #ff7615;
        margin-bottom: 10px;
      }
      
      .footer-column ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
      .footer-column ul li {
        margin: 8px 0;
      }
      
      .footer-column ul li a {
        color: #fff;
        text-decoration: none;
      }
      
      .footer-column ul li a:hover {
        color: #ff7615;
      }
      
      .footer-column .redesociales {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      
      .footer-social {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 10px;
        flex-direction: column;
    
      }
      
      .footer-social a {
        color: #fff;
        font-size: 18px;
        text-decoration: none;
      }
      
      .footer-social a:hover {
        color: #ff7615;
      }
      
      .footer-social img {
        max-width: 70px;
        height: auto;
        margin-top: 10px;
      }

    .nav-1 {
        width: 29%;
        margin: auto;
        padding-left: 140px;
    }

    .nav-2{
        width: 61%;
    }

    .contenedor-inicio {
        width: 600px;
        height: 300px;
        position: relative;
        left: 180px;
        top: 200px;
        color: white;
        font-family: "Roboto", sans-serif;
        font-weight: 100;
    }

    .btn-cursos {
        padding: 14px 22px;
        margin-top: 15px;
        font-weight: 600;
        border: none;
        border-radius: 5px;
        color: #ff7615;
        transition: 0.3s;
        font-size: 15px;
        gap: 6px;
    }

    .cajas-3 {
        width: 85%;
        display: flex;
        margin: auto;
        gap: 30px;
        justify-content: center;
    }

    .caja1 {
        background-color: white;
        padding: 40px 80px;
        border-radius: 5px;
        max-width: 200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
    }

    .caja2 {
        background-color: white;
        padding: 40px 80px;
        border-radius: 5px;
        max-width: 200px;
        display: flex
    ;
        flex-wrap: wrap;
        justify-content: center;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
    }

    .caja3 {
        background-color: white;
        padding: 40px 80px;
        border-radius: 5px;
        max-width: 200px;
        display: flex
    ;
        flex-wrap: wrap;
        justify-content: center;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
    }

    .txt-center-black {
        color: #363434;
        text-align: center;
        font-size: 35px;
        font-weight: 700;
    }

    .contenedor-3 {
        width: 80%;
        margin: auto;
        display: flex
;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 50px;
        margin-top: 235px;
    }
    
    .subcontenedor-2{
        width: 100px;
        height: 3px;
        background-color: #ff7615;
        margin: auto;
    }

    .p-text{
        text-align: center;
        font-size: 16px;
        color: #646464;
    }

    .contenedor-5 {
        width: 100%;
        padding-bottom: 40px;
        background: url(https://institutonoa.com.ar/wp-content/uploads/2021/04/instituto_noa_placa_04.png);
        background-attachment: fixed;
        background-color: #ff7615;
        mix-blend-mode: multiply;
    }

    .subcontenedor-2-2{
        width: 100px;
        height: 3px;
        background-color: black;
        margin: auto;
    }

    .gap-1{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 30px;
    }

    .p-text-w{
        text-align: center;
        color: white;
    }

    .contenedor-carreras {
        width: 80%;
        display: flex;
        margin: auto;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .carreras-titulo {
        width: 100%;
        height: 110px;
        border-radius: 20px;
        background-color: white;
        display: flex
;
        align-items: center;
    }
    
    .a-text{
        font-size: 18px;
        color: #181818;
        font-family: "Noto Sans", sans-serif;
        font-weight: 600;
    }

    .txt-carrera {
        font-size: 25px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        color: #363434;
        padding: 10px;
    }

    .contenedor-6 {
        width: 100%;
    }


    .contenedor-porque {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-around;
    }

    .subcontenedor-porque {
        width: 300px;
        height: 350px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    p{
        font-size: 16px; /* Tamaño de fuente */
        line-height: 1.6; /* Altura de línea para mejorar la legibilidad */
        color: #6c757d; /* Color del texto */
        margin: 10px 0 0; /* Espaciado superior */
        text-align: center; /* Alineación del texto */
    }

    .txt-center-black-2{
        font-size: 24px;
        color: #181818;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        text-align: center;
    }

    .contenedor-7 {
        width: 100%;
        display: flex;
        background: url(https://institutonoa.com.ar/wp-content/uploads/2021/04/instituto_noa_placa_04.png);
        background-attachment: fixed;
        mix-blend-mode: multiply;
        background-color: #ff7615;
    }

    .contenedor-form{
        width: 70%;
        margin: auto;
        display: flex;
        padding: 100px;
    }

    .formcontenedor-1{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    .formcontenedor-2{
        width: 50%;
    }

    .form-text{
        display: flex;
        flex-direction: column;
    }

    .f1{
        font-size: 52px;
        color: white;
        font-weight: 600;
        font-family: "Roboto", sans-serif;
    }
    
    .f2{
        font-size: 24px;
        color: white;
        font-weight: 600;
        font-family: "Roboto", sans-serif;
    }

    .f3{
        font-size: 24px;
        color: #2f2f2f;
        font-weight: 600;
        font-family: "Roboto", sans-serif;
    }

    .facebook{
        background-color: #3b5998;
        padding: 6px 8px;
        border-radius: 4px;
    }
    
    .instagram{
        padding: 6px 8px;
        border-radius: 4px;
        background-color: #c02e2e;
    }

    .redesociales{
        display: flex;
        flex-direction: column;
    }
}


@media (max-width:1280px) {

    .nav-1 {
        width: 35%;
        padding-left: 25px;
    }

    .nav-2 {
        width: 65%;
        gap: 35px;
    }

    .contenedor-inicio {
        width: 600px;
        height: 300px;
        position: relative;
        left: 80px;
        top: 200px;
        color: white;
        font-family: "Roboto", sans-serif;
        font-weight: 100;
    }

    .contenedor-3 {
        width: 80%;
        margin: auto;
        display: flex
;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 15px;
        padding: 40px;
    }

    .gap-1 {
        display: flex
;
        flex-direction: column;
        gap: 10px;
        padding-top: 45px;
        margin-bottom: 45px;
    }

    .contenedor-form {
        width: 80%;
        margin: auto;
        display: flex
;
        padding: 100px 0px 100px 0px;
    }

}

@media (max-width:1280px) {

    .nav-1{
        width: 20%;
        padding: 0px;
    }

    .nav-2{
        width: 80%;
    }

    .img-fondo {
        width: 100%;
        height: 550px;
        background-image: url(/img/Sin título.png);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-color: #d96102;
    }

    .contenedor-inicio {
        width: 600px;
        height: 300px;
        position: relative;
        left: 35px;
        top: 130px;
        color: white;
        font-family: "Roboto", sans-serif;
        font-weight: 100;
    }

    .contenedor-carreras {
        width: 95%;
        display: flex
;
        margin: auto;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .caja1 {
        background-color: white;
        padding: 30px 60px;
        border-radius: 5px;
        max-width: 200px;
        display: flex
;
        flex-wrap: wrap;
        justify-content: center;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
    }

    .caja2 {
        background-color: white;
        padding: 30px 60px;
        border-radius: 5px;
        max-width: 200px;
        display: flex
;
        flex-wrap: wrap;
        justify-content: center;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
    }

    .caja3 {
        background-color: white;
        padding: 30px 60px;
        border-radius: 5px;
        max-width: 200px;
        display: flex
;
        flex-wrap: wrap;
        justify-content: center;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
    }

    .contenedor-porque {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-around;
    }

    .contenedor-form{
        width: 95%;
    }
}   

    @media (max-width: 425px) {

        .nav-1{
            width: 90%;
        }

        .carreras-titulo {
            width: 98%;
            height: 110px;
            border-radius: 20px;
            background-color: white;
            display: flex
    ;
            align-items: center;
        }

        .carreras {
            width: 410px;
        }

        .a-text {
            font-size: 15px;
            color: #181818;
            font-family: "Noto Sans", sans-serif;
            font-weight: 600;
        }




        .nav-2 {
          display: none; /* Oculta las opciones en la vista móvil */
        }
  
        .menu-toggle {
            display: block;
            font-size: 24px;
            cursor: pointer;
            color: #fff;
            background: orange;
            padding: 5px 10px;
        }
  
        .nav-2.active {
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 60px;
          left: 0;
          width: 100%;
          background-color: #333;
          padding: 10px 0;
          z-index: 1000;
        }
  
        .boton-nav {
          padding: 10px 20px;
          text-align: center;
          width: 100%;
          background-color: #444;
          border-bottom: 1px solid #555;
        }
  
        .boton-nav:hover {
          background-color: #555;
        }
  
        .btn-virtual {
          margin: 10px auto;
          width: 80%;
          text-align: center;
        }

        .contenedor-inicio {
            width: 320px;
            display: flex
;
            flex-direction: column;
            gap: 20px;
            top: 420px;
            left: 50px;
        }

        .txt {
            font-size: 40px;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            width: 320px;
            text-align: center;
        }

        .img-fondo {
            width: 100%;
            height: 800px;
            background-image: ;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: 55% 23%;
            background-color: #d96102;
        }

        .cajas-3 {
            width: 85%;
            display: flex;
            margin: auto;
            gap: 30px;
            justify-content: center;
            flex-direction: column;
        }

        .contenedor-3{
            margin-top: 750px;
        }

        .carousel-item {
            flex: 0 0 100%; /* Cada imagen ocupa un tercio del ancho total */
            position: relative;
            height: 100%;
          }

          .contenedor-carreras {
            width: 95%;
            display: flex
    ;
            margin: auto;
            gap: 20px;
            margin-top: 20px;
            margin-bottom: 30px;
            flex-direction: column;
        }

        .contenedor-porque{
            flex-direction: column;
        }

        .contenedor-porque {
            flex-direction: column;
            align-items: center;
        }

        .contenedor-form{
            flex-direction: column;
        }

        .formcontenedor-1 {
            width: 90%;
            margin: auto;
        }

        .formcontenedor-2{
            width: 100%;
        }

        .footer-container{
            display: flex;
            flex-direction: column;
        }

        .footer-columns {
            display: flex;
            flex: 2 1 400px;
            justify-content: space-around;
            flex-direction: column;
        }

        .footer-column {
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: baseline;
            height: 280px;
            margin-bottom: 20px;
            width: 200px;
        }

        .navegacion {
            width: 96%;
            display: flex
        ;
            align-items: center;
            height: 71px;
            padding: 6px;
        }

        a.boton-nav {
            display: flex
        ;
            position: relative;
            left: 20px;
        }

        .nav-2.active {
            gap: 0px;
            top: 80px;
            background-color: white;
            padding: 0px;
        }

        .btn-virtual{
            display: none;
        }

        a.boton-nav {
            background-color: white;
            border: 1px solid #e5e5e5;

        }

        .movil{
            display: flex; 
            flex-direction: column;
        }
        
    

        
    
}